# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
*.log
*.tmp
*.swp
Thumbs.db
.DS_Store
